* {
    font-family: 'Raleway', sans-serif;
    transition: .3s;
}

.backdrop-login,
.backdrop-signup{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #151411;
    z-index: 69;
    position: fixed;
}

html {
    scroll-behavior: smooth;
    /* background-image: linear-gradient(45deg, #000000, #2E2F33); */
    background: #151411;
    color: #ffffff;
}

body{
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #ffffff;
}

span {
    color: #ffffff;
}

#header-id {
    background-color: #151411;
}

.logo a {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.logo a:hover {
    color: #ffffff;
    text-decoration: none;
}

.logo-image {
    height: 32px;
}


.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 22px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #ABABAB;
    transition: .3s;
    font-size: 14px;
    font-weight: 500px;
    padding: 0 4px;
    text-transform: uppercase;
}

.nav-menu>ul>li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #E50914;
    visibility: hidden;
    width: 0;
    transition: .3s ease-in-out;
}

/* .nav-menu>ul>li a{
    border-bottom: 1px solid red;
} */

.nav-menu a:hover::before,
.nav-menu li:hover>a::before,
.nav-menu .active>a::before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #ffffff;
    text-decoration: none;
}

.header-icons {
    margin: 0 35px;
}

.fa-user,
.fa-bag-shopping {
    color: #ffffff;
    margin-left: 15px;
    padding: 0 10px;
    transition: .3s;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.nav-menu-icons,
.fa-square-facebook,
.fa-square-instagram,
.fa-square-twitter,
.fa-envelope,
.fa-square-phone {
    color: #ABABAB;
    font-size: 22px;
    padding: 0 8px;
}

.nav-menu-icons :hover,
.fa-square-facebook :hover,
.fa-square-instagram :hover,
.fa-square-twitter :hover,
.fa-envelope :hover,
.fa-square-phone :hover {
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
}

.nav-btn {
    display: none;
    /* Hides toggle button for desktop view */
}

#nav-check {
    display: none;
}


/* Body Section Stylings */


.advertise-heading {
    background-color: #151411;
    margin: 0;
    width: 100%;
}

.advertise-heading>h1 {
    background-color: #151411;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    padding-top: 120px;
    color: #ffffff;
}

.advertise-heading>p {
    background-color: #151411;
    color: #ABABAB;
    text-align: center;
    padding-top: 25px;
}

.search-area {
    margin-top: 45px;
}

.form-outline {
    width: 40%;
    background-color: #ffffff;
    z-index: 10;
}

.search-btn {
    background-color: #E50914;
    color: #ffffff;
    border: none;
    z-index: 10;
}

.search-btn>p {
    margin: 0;
    margin: 6px 10px;
}

.landing-page-poster {
    margin-top: -68px;
    background-color: #151411;
}

.poster-row {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px, rgba(255, 255, 255, 0.05) 0px 1px 1px 0px;
}

.shoe-poster img {
    height: 480px auto;
    width: 100%;
    margin: 0;
    z-index: -2;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px, rgba(255, 255, 255, 0.05) 0px 0px 0px 0px;
}


/* .shoe-poster-desc{
    background-color: #2E2F33;
} */

.shoe-poster-desc>h1,
.shoe-poster-desc>p,
.shoe-poster-desc>h5 {
    color: #ffffff;
    z-index: 11;
    margin-top: 8%;
}

.login-btn,
.signup-btn{
    width: 100px;
    margin-top: 1%;
    padding: 6px 3px;
    background-color: #151411;
    border: 1px solid #E50914;
    color: #E50914;
}

.view-products-btn{
    width: 260px;
    margin-top: 30px;
    padding: 6px 0px;
    background-color: #151411;
    border: 1px solid #E50914;
    color: #E50914;
}

.login-btn:hover,
.signup-btn:hover,
.view-products-btn:hover {
    background-color: #E50914;
    color: #ffffff;
    transition: .3s ease-in;
}

.poster-quote {
    font-size: 16px;
}

.benefits-container img {
    height: 30px;
    width: 30px;
}

.benefits-col-containers {
    background-color: #2E2F33;
}


.product-card {
    flex: 0 0 auto;
    height: 450px;
    width: 250px;
    margin-right: 40px;
    background-color: #2E2F33;
    border-radius: 5px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #E50914;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #E50914;
    color: #ffffff;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ffffff;
    color: #E50914;
}

.product-info {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.product-info>a:hover{
    text-decoration: none;
}

.product-brand {
    text-transform: capitalize;
    font-size: 20px;
}

.product-desc {
    color: #ffffff;
    height: 20px;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    opacity: .5;
    text-transform: capitalize;
    margin: 5px 0;
    font-size: 14px;
}

.discounted-price {
    font-size: 18px;
    font-weight: 500;
}

.actual-price {
    margin-left: 20px;
    margin-right: 120px;
    opacity: .5;
}

.cart-btn-card{
    color: #ffffff;
    cursor: pointer;
}

.cart-btn-card:hover{
    color: #E50914;
}

/* i.fa-cart-shopping{
    color: #E50914;
} */

.experience-text,
.client-text,
.best-seller-text {
    text-align: left;
}

.experience-text:hover,
.client-text:hover,
.best-seller-text:hover {
    background-color: #E50914;
    transition: .5s ease-in-out;
    border-radius: 5px;
}

.team-row {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px, rgba(255, 255, 255, 0.05) 0px 0px 0px 0px;
}

.client-avater,
.brand-avater {
    margin-bottom: 20px;
    margin-top: 20px;
}

.client-meta h3 {
    font-size: 20px;
    font-weight: 600;
}

.client-meta h3 span {
    display: block;
    font-size: 70%;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0.5;
}

p.testimonial-body {
    font-style: italic;
    margin: 0 auto;
    line-height: 1.8;
    margin-top: 20px;
    font-size: 16px;
    opacity: .7;
}

.last-icon {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.8;
    color: #E50914;
}

.client-avater img,
.brand-avater img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* .team-card{
    background-color: #2E2F33;
} */


h2.widget-title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
}

h2.widget-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #E50914;
    content: "";
}

#footer{
    background-color: #151411;
}

.footer-row {
    background-color: #2E2F33;
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #EAEAEA;
}

.footer-box p {
    opacity: .7;
}

.footer-box.pages a {
    color: #EAEAEA;
}

.footer-box ul li {
    opacity: 0.7;
    margin-bottom: 10px;
    line-height: 1.8;
}

.footer-box ul li:last-child {
    margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
    border: none;
    background-color: #ffffff;
    width: 78%;
    padding: 13px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}

.footer-box.subscribe p {
    opacity: .7;
}

.footer-box.subscribe form button {
    width: 20%;
    border: none;
    background-color: #E50914;
    color: #ffffff;
    padding: 14px 0;
    /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
    cursor: pointer;
}

.footer-box.subscribe form button:focus {
    outline: none;
}

/* Login/Sign-Up Styling  */



.form-background {
    height: 100%;
    width: 100%;
    background-color: #E50914;
}

.login-form,
.signup-form {
    /* display: none; */
    width: 400px;
    position: absolute;
    background-color: #151411;
    border: 2px solid #E50914;
    padding: 3% 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
}

form h3 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 3%;
}

.login-image img,
.signup-image img {
    width: 15%;
    margin-left: 40%;
    margin-bottom: 3%;
}

.form-group label {
    color: #E50914;
    margin-bottom: 0px;
    font-size: 14px;
}

label.form-check-label {
    font-size: 14px;
}

input.form-control-form {
    padding: 3px;
    padding-left: 6px;
    border: none;
    border-radius: 0;
    width: 260px;
    margin-left: 20px;
}

.form-control-form::placeholder {
    font-size: 12px;
}

button.login-form-btn,
button.signup-form-btn {
    border-radius: 0px;
    background-color: #151411;
    border: 1px solid #E50914;
    color: #E50914;
    margin-left: 34%;
    margin-bottom: 16px;
}

button.login-form-btn:hover,
button.signup-form-btn:hover {
    border-radius: 0px;
    background-color: #E50914;
    border: 1px solid #E50914;
    color: #ffffff;
}

form a {
    display: block;
    color: #eaeaea;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

form a:hover {
    color: #eaeaea;
    text-decoration: underline;
}

.fa-xmark {
    background-color: #E50914;
    padding: 5px;
    margin-left: 300px;
    margin-top: -20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.product-page{
    background-color: #151411;
}

.product-section{
    background-color: #151411;
}

.page-header-bg {
    background-image: url(../assets/images/pexels-poster-2.jpeg);
    background-position: bottom;
}

.page-header-text p {
    color: #E50914;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}

.page-header-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    margin-top: 20px;
}

.page-header-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
}

.page-header-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #151411;
    z-index: -1;
    opacity: .7;
}

.single-product-item h1 {
    margin-top: 20px;
}

.single-product-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-product-item a {
    color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-product-item a:hover {
    color: #E50914;
}

.single-product-row {
    margin-top: 20px;
    height: auto;
    background-color: 000000;
}

.single-product-item h1 {
    margin-top: 20px;
}

.single-product-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.product-desc-image {
    height: 444px;
    padding: 30px;
    /* padding-bottom: 10; */
    overflow-y: hidden;
}

.product-desc-image img {
    width: 90%;
    /* border: 1px inset #EAEAEA; */
    border-radius: 5px;
    margin-bottom: 20px;
}

p.product-price {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.product-price span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
}

p.product-page-desc{
    margin: 50px;
}

.form-control-quantity {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #151411;
    text-align: center;
    padding: 7px 30px;
    margin-bottom: 20px;
}

.form-control-quantity::placeholder {
    color: #151411;
}

a.cart-btn {
    border: 1px solid #E50914;
    padding: 8px 20px;
    color: #E50914;
    text-decoration: none;
    transition: .6s ease-in-out;
}

a.cart-btn:hover {
    background-color: #ffffff;
    color: #E50914;
    border: none;
}

.product-display-screen{
    background-color: #151411;
}

.brand-card-col-men,
.brand-card-col-women,
.brand-card-col-kids
{
    height: 80px;
    padding-top: 13px;
    background-image: url(../assets/images/shoe-8.avif);
    background-size: cover;
    background-position: unset;
    border-radius: 4px;
    margin-bottom: 48px;
}

.brand-card-col-men h3,
.brand-card-col-women h3,
.brand-card-col-kids h3
{
    padding: 10px 0px;
    cursor: pointer;
}

.brand-card-col-men h3 a,
.brand-card-col-women h3 a,
.brand-card-col-kids h3 a
{
    color: #ffffff;
    text-decoration: none;
}

.brands-section{
    background-color: #2E2F33;
}

.brand-avater{
    background-color: #ffffff;
    border-radius: 4px;
}

.brand-col h4{
    font-size: 16px;
}


.cart-row{
    background-color: #151411;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #151411;
    color: #fff;
}

.cart-table{
    border: 1px solid #ffffff;
    width: 100%;
}

.table-head-row{
    background-color: #E50914;
    color: #2E2F33;
    border: 1px solid #ffffff;
}

.table-head-row th{
    padding: 15px;
    font-size: 15px;
}

.fa-circle-minus{
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
}

.cart-section, .cart-row{
    margin-top: 3%;
    padding: 40px 10px;
}

.total-section table.total-table {
    border: 1px solid #ffffff;
    width: 100%;
}

.table-head-row{
    color: #ffffff;
}

tr.table-total-row {
    background-color: #E50914;
    color: #ffffff;
}

.table-body-row{
    color: #ffffff;
}

tr.table-total-row th {
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
}

td.product-name{
    color: #ffffff;
}

.fa-circle-minus{
    color: #ffffff;
}

table.total-table tbody tr.total-data td {
    border: 1px solid #ffffff;
    padding: 19px 15px;
    color: #ffffff;
}

tr.total-data td strong {
    margin-right: 32px;
}

.cart-buttons {
    margin-top: 30px;
}

.cart-buttons a:first-child {
    margin-right: 20px;
}

.boxed-btn{
    background: #151411;
    padding: 7px 20px;
    border: 1px solid #E50914;
    color: #E50914;
}

.boxed-btn:hover{
    background: #E50914;
    color: #ffffff;
    text-decoration: none;
    transition: .6s;
    border: none;
}



.checkout-container{
    border: 1px solid #ffffff;
}

.checkout-row h5, .payment-col h5{
    color: #E50914;
    margin-top: 5%;
}

iframe{
    width: 100%;
    height: 50vh;
    border: 1px solid #ffffff;
    border-radius: 3px;
    /* filter: invert(100%); for dark mode */
}

.form-label{
    color: #E50914;
}

.payment-col h5{
    margin-bottom: 5%;
}

.form-check-label img{
    background: #EAEAEA;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #E50914;
    cursor: pointer;
}

.payment-btn{
    margin-top: 3%;
    margin-left: 45%;
}

.error-page-row{
    height: 80vh;
}

.error-page-col>img{
    height: 400px;
    margin-top: 140px;
    margin-bottom: 20px;
}

div.dashboard-row{
    height: 88vh;
    background-color: #2E2F33;
}

div.dashboard-column>li{
    margin: 16px 20px;
    padding: 20px;
}

div.dashboard-column>li>a{
    color: #ffffff;
    text-decoration: none;
}

div.dashboard-column>li>a:hover{
    background-color: #E50914;
    color: #ffffff;
    padding: 8px;
    transition: .3s ease-in-out;
    border-radius: 5px;
}

div.dashboard-column>li>a>i{
    padding-right: 10px;
}

.stat-content{
    background-color: #151411;
    border-left: 1px solid #ffffff;
}

.stat-content-row{
    border-radius: 3px;
}

.stat-content-col{
    border: 3px solid #E50914;
    border-radius: 1px;
}

.stat-content-img>img{
    height: 50px;
    width: 50px;
}

li.active-admin{
    border-bottom: 3px solid #E50914;
}


















@media (max-width:768px) {
    .nav-btn {
        display: block;
        position: absolute;
        right: 0px;
        top: 5px;
        font-size: 18px;
    }

    .fa-user{
        margin-right: 15px;
    }

    .nav-btn>label {
        height: 50px;
        padding: 13px;
        display: inline-block;
        width: 50px;
    }

    .nav-btn>label:hover,
    #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* .nav-btn>label>span {
        height: 10px;
        border-top: 2px solid #eee;
        display: block;
        width: 25px;

    } */

    .nav-menu {
        position: absolute;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 88px;
        display: block;
        width: 100%;
        background-color: #151411;
        left: 0;
    }

    .nav-menu>ul {
        display: block;
        width: 100%;
    }

    .nav-menu>ul li {
        padding: 25px 0;
        background-color: #151411;
        display: block;
        margin-bottom: 20px;
        /* border-bottom: 1px solid #E50914; */
    }

    .nav-menu>ul li a {
        font-size: 20px;
        text-align: center;
    }

    .nav-menu>ul>li a::before {
        background-color: transparent;
    }

    .nav-menu ul a.icon {
        margin-left: 33%;
    }

    #nav-check:not(:checked)~.nav-menu {
        height: 0px;
    }

    #nav-check:checked~.nav-menu {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    h1{
        text-align: center;
        font-size: 38px;
    }

    .benefits-container-row p{
        text-align: center;
        padding-top: 16px;
    }

    .service-history-column p{
        text-align: center;
        padding-top: 16px;
    }

    .service-history-column h1{
        text-align: center;
    }

}

@media (max-width:567px) {
    h1{
        font-size: 24px;
    }
}