*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(pokharaview.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family:Alata;
}
h1{
    color: rgb(236, 236, 236);
    font-size: 45px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.1);
    background-size: cover;
    margin-top: 5px;
    font-family: Black Ops One;
}
.menu-bar{
    background-color:rgba(226, 225, 225, 0.5);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
}
.menu-bar ul{
    display: inline-flex;
    list-style-type: none;
    color: brown;
}
.menu-bar ul li{
    width:auto;
    margin: 10px;
    padding:10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:brown ;
}
.menu-bar ul li:hover:not(active){
    background-color: rgb(240, 182, 240);
    border-radius: 3px;
}
.active{
    background-color: silver;
    border-radius: 3px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover:not(active) .sub-menu1{
    display:block;
    position: absolute;
    background-color: lavender;
    margin-top: 5px;
    margin-left: -15;
    border-radius: 0px;
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul{
    display: block;
    text-align: left;
    margin: 10px;
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul li{
    width: 130px;
    padding: 10px;
    border-bottom: 1px inset rgb(240, 156, 240);
    overflow: hidden;
    background: transparent; /* In case to remove background color during hover */
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul li:last-child {
    border-bottom: none; /* Removes the border bottom of last sub-menu */
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul li a:hover{
    color: rgb(68, 94, 16);
}
.fa-angle-right{
    float: right;
    padding-top: 5px;
}
.subsub-menu1{
    display: none;
}
.hover-me:hover:not(active) .subsub-menu1{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    background:rgb(217, 217, 255);
    border-radius: 5px;
}
.signup{
    width: 380px;
    box-shadow: 0, 0, 3px 0 rgba(0, 0, 0, 0.3);
    background-image: url(transparentbubble.jpg);
    background-position: bottom;
    padding: 15px;
    margin: auto;
    margin-top: 25px;
    border-radius: 7px;
    color: rgb(92, 248, 61);
    text-align: center;
}
.signup h2{
    color: rgb(8, 20, 2);
    background-color:rgba(221, 100, 29, 0.3);
    font-family: Acme;
    margin-bottom: 25px;
}
.input-box{
    border: 1px inset rgb(102, 100, 100);
    border-radius: 7px;
    padding: 10px;
    margin: 15px;
    padding-left: 40px;
    width: 70%;
}
button{
    color: rgb(14, 15, 12);
    background-color: rgb(146, 218, 39);
    width:70%;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: none;
    font-family: cursive;
}
button a{
    cursor: pointer;
    text-decoration: none;
}
.twitter-btn{
    background-color: rgb(196, 228, 148);
    cursor: pointer;
}
hr{
    width: 80%;
    margin-top: 20px;
    margin-left: 37px;
}
.or{
    background: none;    
    text-align: center;
    margin-top: 20px;
}