div{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color:red;
    color: whitesmoke;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
    padding-top: 15px;
    font-size: 50px;
    font-family: Acme;
    text-align: center;
}
img{
float: left;
padding-left: 0px;
border-radius: 50px;
}
.menu-bar{
    background-color: rgb(26, 24, 24);
    opacity: 0.9;
    text-align: center;
    margin-top: 20px;
}
.menu-bar ul{
    display: inline-flex;
    list-style-type: none;
    font-family: alata;
}
.menu-bar ul li{
    padding: 10px;
    margin:8px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
}
.menu-bar ul li a{
    text-decoration: none;
    color: red;
}
.menu-bar ul li:hover:not(active){
    background-color: rgb(220, 228, 228);
    color: black;
    border-radius: 1px;
    transition: 0.7s;
}
.active{
    background-color: whitesmoke;
    color: teal;
    border-radius: 1px;
}
.row{
    display: flex;
    margin: 15px;
    margin-top: 25px;
    text-align: justify;
    width: auto;
    border: 2px inset red;
    box-shadow: 5px 5px 15px;
}
.column-right{
    border: 0px inset gray;
    box-shadow: 2px 3px 17px grey;
    padding: 10px;
    width: 33%;
    margin: 20px;
}
.column-left{
    border: 0px inset gray;
    box-shadow: 2px 3px 17px grey;
    width: 33%;
    margin:20px;
    padding: 10px;
    padding-bottom: 50px;
}
.column-mid{
    border: 0px inset gray;
    box-shadow: 2px 3px 17px grey;
    padding: 10px;
    width: 50%;
    margin: 20px;
}
h1{
    font-size: 30px;
    color: white;
    font-family: Acme;
    text-align: center;
}
.footer{
    display: flex;
    margin: 15px;
    margin-top: 25px;
    text-align: left;
    background-color: red;
}
i{
    margin: 4px;
    margin-top: 7px;
}
.foot{
    font-family: Alata;
    width: 20%;
    margin:25px;
    padding: 10px;
    color: whitesmoke;
}