*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(8, 3, 3);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Alata;
}
h1{
    font-size: 35px;
    font-family: Acme;
    color: rgb(245, 53, 53);
    text-align: center;
    padding: 10px;
    padding-top: 35px;
}
img{
    float: right;
    border-radius: 50px;
    margin-top: -80px;
    margin-right: 250px;
}
.img1{
    float: left;
    border-radius: 50px;
    margin-top: -80px;
    margin-left: 250px;
}
.menu-bar{
    background-color: rgb(75, 75, 231);
    color: rgb(238, 235, 64);
    text-align: center;
    margin-top: 25px;
}
.menu-bar ul{
    display: inline-flex;
    list-style-type: none;
    color: purple;
}
.menu-bar ul li{
    padding: 10px;
    margin: 10px;
    width: auto;
}
.menu-bar ul li a{
    text-decoration: none;
    color: lavender;
}
.menu-bar ul li:hover:not(active){
    background-color: rgb(157, 123, 216);
    color: rgb(23, 107, 72);
    transition: 0.4s;
    border-radius: 2px;
}
.active{
    background-color: rgb(76, 158, 168);
    color: purple;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover:not(active) .sub-menu1{
    display: block;
    position:absolute;
    margin-top: 10px;
    margin-left: -10px;
    background-color: rgb(76, 158, 168);
    border-radius: 1px;
    box-sizing: border-box;
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul{
    display: block;
    text-align: left;
    margin: 10px;
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul li{
    padding: 10px;
    width: 120px;
    border-bottom: 1px solid rgb(144, 97, 189);
    cursor: pointer;
}
.menu-bar ul li:hover:not(active) .sub-menu1 ul li:last-child{
    border: none;
}
.butt{
    background-color: rgb(41, 37, 37);
    color: red;
    font-family: Black Ops One;
    font-size: medium;
    padding: 10px;
    margin: 20px;
    margin-top: 260px;
    border: 2px solid red;
    margin-left: 500px;
}
.butt a{
    color: ghostwhite;
    text-decoration: none;
    padding: 15px;
}
.butt:hover:not(active){
    background-color: rgb(54, 50, 50);
    color: rgb(56, 50, 50);
    transition: 0.7s;
}
.butt a:hover:not(active){
    color: rgb(250, 157, 81);
}
.hutt{
    background-color: rgb(41, 37, 37);
    color: red;
    font-family: Black Ops One;
    font-size: medium;
    padding: 10px;
    margin: 15px;
    margin-top: 260px;
    border: 3px solid red;
    margin-left: 20px;
}
.hutt a{
    color: ghostwhite;
    text-decoration: none;
    padding: 15px;
}
.hutt:hover:not(active){
    background-color: rgb(54, 50, 50);
    color: rgb(56, 50, 50);
    transition: 0.7s;
}
.hutt a:hover:not(active){
    color: rgb(250, 157, 81);
}

.signup-design{
    width: 390px;
    background-image: url(darkg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 3px 0 rgb(77, 63, 63);
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
}
h2{
    color: azure;
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.signup-inbox{
    width: 230px;
    padding: 9px;
    background: none;
    border: none;
    outline: none;
    color: gainsboro;
    border-bottom: 2px inset rgb(230, 222, 222);
    border-radius: 2px;
    margin-bottom: 19px;
}
p{
    text-align: center;
    font-family: cursive;
    font-size: medium;
}
.subbmit{
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(238, 230, 230);
    border: none;
    border-radius: 6px;
    color: rgb(1, 1, 17);
    padding: 10px;
    font-family: alata;
    font-size: 16px;
    border-bottom-right-radius: 17px;
    margin-bottom: 22px;
}
.subbmit a{
    text-decoration: none;
    color: black;
}
.subbmit:hover{
    background-color: rgb(218, 200, 200);
    color: rgb(240, 23, 23);
    cursor: pointer;
}
.subbmit a:hover{
    color: red;
}
hr{
    color: rgb(238, 230, 230);
    margin-bottom: 14px;
}
h3{
    margin-bottom: 14px;
    font-size: 18px;
}





